<%- include('modules/head.ejs'); %>
</head>
<body>
<%- include('modules/header.ejs'); %>
<main class="error-main">
    <h1>Error!</h1>
    <img class="error-img-sm" src="../../images/wizard.jfif">
        
    <h2>Well, that didn't turn out the way we planned. Sorry!</h2>
</main>
<%- include('modules/footer.ejs'); %>
 
    