<%- include('../modules/head.ejs') %>
    </head>

    <body>
        <%- include('../modules/header.ejs') %>
        <main>
            <h1>Checkout Page</h1>
        </main>
        <%- include('../modules/footer.ejs') %>